image: node:24

stages:
  - test
  - deploy

test:
  stage: test
  script:
    - npm install
    - npm test

create-pages:
  stage: deploy
  script:
    - npm install
    - npm run build
    - mv dist/* public
  pages: true  # specifies that this is a Pages job and publishes the default public directory
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
